@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #ED5520 #EDECDF;
}

/* Chrome, Edge, and Safari */
body ::-webkit-scrollbar {
  width: 8px;
}

body ::-webkit-scrollbar-track {
  background: #EDECDF;
  border-radius: 2px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #ED5520;
  border-radius: 14px;
  border: 1px solid #14353F;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #EDECDF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 18px;
}

@media (min-width: 1024px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}